{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{%  crispy ContactCourseForms ContactCourseForms.helper %}

{% block 'style' %}
    <style>
        body {
            background-image: url("{% static 'img/back.png' %}");
        }
    </style>
{% endblock %}

{% block 'content' %}
    {% if course %}
    <div class="container my-cont">
        <div class="row justify-content-between">

        <div class="col">
            <div class="container my-descript">
                <h2 class="styleTitle">Sobre o curso</h2>
                <div class="row my-row">
                    <div class="col my-col">
                        <p>{{ course.about_course }}</p>
                    </div>
                    <div class="container instrutor">
                        <p>Instrutor: Beleleu</p>
                    </div>

                    {% if course.imagem_course %}
                        <div class="col my-col">
                            <img src="{{ course.imagem_course.url }}" alt="{{ course.name }}">
                        </div>
                    {% else %}
                        <div class="col my-col">
                            <img src="{% static 'img/learn_fast.png' %}" alt="{{ course.name }}">
                        </div>
                    {% endif %}
                </div>
                <div class="container info">

                    <div class="row my-row">
                        <div class="container">
                            <p><strong>Irá começar em:</strong> {{ course.start_date }}</p><br>
                        </div>
                        <div class="container">
                            <p><strong> Foi Atualiazado em:</strong> {{ course.update_at }}</p><br>
                        </div>
                        <div class="container">
                            <p><strong> Criado em:</strong> {{ course.create_at }}</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="jumbotrom">
                        
                        {% if is_valid %}
                            <span class="alert alert-sucess">E-mail enviado com sucesso!</span>
                        {% endif %}
                            
                        <h3>Tire sua dúvida</h3>
                        {% csrf_token %}
                        <form action="" method="post">
                            {% crispy form %}
                            
                           
                        </form>
                        
                         
                        </form>
                    </div>
                </div>
            </div>

            <div class="container my-col">
                {% else %}
                <div class="container">
                    <small>Nenhum Curso encontrado</small>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-4">

            <div class="header">
                <div class="row my-row">
                    <h1><strong>{{ course }}</strong></h1>
                </div>
                <div class="row my-row">
                    <p>{{course.description}}</p>
                </div>
                <div class="row my-row"><a href="" class="btn btn-default buttonSubscribe">Inscrever-se</a></div><br>
                <h3>Dúvidas?</h3><br>
                <a href="{% url 'contato' %}" class="btn btn-primary buttonAskme">Fale Conosco</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}