
{% extends 'base.html' %}



{% block 'style' %}
    <style>
        .header{
            background-color: white;
            padding: 30px;
            border-radius: 20px;
            margin: 10px;
        }
    </style>
{% endblock  %}
    

{% block 'content' %}
<div class="starter-template header">
    <h1>Sua plataforma mais moderna a distância...</h1>
    <p class="lead">Vem para inovar a forma que você estuda.<br> Nada que você já viu, é igual ao
        <strong>LEARNFAST</strong></p>
</div>
{% endblock %}