{% extends 'base.html' %}

{% load static %}

{% block 'style' %}
<style>
    .header {
        background-color: white;
        padding: 30px;
        border-radius: 20px;
        margin: 10px;
    }
</style>
{% endblock %}


{% block 'content' %}

<div class="logo">
    <img src="{% static 'img/elements/logo.svg' %}" alt="" srcset="">
</div>
<div class="element_line left">
    <img src="{% static 'img/elements/lc_blue.svg' %}" alt="" srcset="">
</div>


<div class="text-main">

    {% if user.is_authenticated %}

    <h2>Olá, {{ user.username }}</h2>


    {% endif %}

    <h1>Sua plataforma mais moderna a distância...</h1>
    <p class="lead">Vem para inovar a forma que você estuda.<br> Nada que você já viu, é igual ao
        <strong>LEARNFAST</strong>
    </p>
</div>

<div class="element_line right">
    <img src="{% static 'img/elements/lc_green.svg' %}" alt="" srcset="">
</div>
{% endblock %}